---
    import '../styles/reviews.css'
    // import {GetReviews} from '../../../functions/getReviews.js';
---

<div class="review1">

	<!-- <p style="color:white;font-size:1.5em">I contacted Curtis about removing several, dangerous trees on my property.  
    He showed up on time and ready to work. He did exactly what I expected him to do. He does exceptional work. 
    I will continue to call Curtis when I need a tree removed. I would highly recommend AlphaTree."
    Sig: " - Dan do1058"</p> -->

    <!-- <div class='rev-card'>";
        <div class='rev-card-body'>
            <h5 class='rev-card-title'>Review</h5>
            <p class='rev-cbod'>I contacted Curtis about removing several, dangerous trees on my property.  
                He showed up on time and ready to work. He did exactly what I expected him to do. He does exceptional work. 
                I will continue to call Curtis when I need a tree removed. I would highly recommend AlphaTree.
            </p>
            <p class='rev-csig'>- Dan do1058</p>
        </div>
    </div> -->

    <!-- <div class='rev-card'>";
        <div class='rev-card-body'>
            <h5 class='rev-card-title'>Review</h5>
            <p class='rev-cbod'>
                Curtis and crew took down an 80 foot fir near a fence and house. NO DAMAGE!!!  
                Cleanup was thorough and they cut the rounds into 14 inch rounds for later splitting. 
                Crew had a great attitude. Will use them again."
            </p>
            <p class='rev-csig'>- Kurt R</p>
        </div>
    </div> -->
</div>